.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  background: #31423b;
  padding: 20px;
  margin-top: auto;
  margin-bottom: 150px;
  height: calc(100vh - 3rem);
}

.home-message {
  margin-top: 10%;
  color: white;
  font-size: 250%;
  font-family: "Courier New", Courier, monospace;
  grid-column: 1;
  grid-row: 1;
  margin-left: 2cm;
}

.home-message h1 {
  color: #8bc3ab;
  font-size: 100%;
  font-family: "Courier New", Courier, monospace;
  margin-left: 2cm;
}

.img {
  border-radius: 50%;
  width: 50%;
  grid-column: 2;
  grid-row: 1;
  margin-top: 20%;
  margin-left: 30%;
  box-shadow: 9px 9px 1px 1px rgba(12, 31, 12, 0.2), -0.5em 0 0.9em #456256;
}

.home-links {
  color: white;
  grid-column: 1;
  grid-row: 2;
  align-self: flex-end;
  margin-left: 10%;
  margin-bottom: 10%;
}

.home-links li {
  list-style-type: none;
  padding-top: 3rem;
}

.home-links li a {
  color: white;
  width: 100%;
  font-size: 3rem;
}
.home-links li a:hover {
  color: #131a17;
}

@media screen and (max-width: 900px) {
  .home-message {
    margin-top: 10%;
    color: white;
    font-size: 200%;
    font-family: "Courier New", Courier, monospace;
    grid-column: 1;
    grid-row: 1;
    margin-left: 1cm;
  }

  .home-message h1 {
    color: #8bc3ab;
    font-size: 100%;
    font-family: "Courier New", Courier, monospace;
    margin-left: 2cm;
  }

  .img {
    border-radius: 50%;
    width: 70%;
    grid-column: 2;
    grid-row: 1;
    margin-top: 20%;
    margin-left: 10%;
    box-shadow: 9px 9px 1px 1px rgba(12, 31, 12, 0.2), -0.5em 0 0.9em #456256;
  }

  .home-links {
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
    margin-left: 10%;
    margin-bottom: 10%;
  }

  .home-links li {
    list-style-type: none;
    padding-top: 3rem;
  }

  .home-links li a {
    color: white;
    width: 100%;
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
  .home-message {
    color: white;
    font-size: 150%;
    font-family: "Courier New", Courier, monospace;
    grid-column: 1;
    grid-row: 1;
  }

  .home-message h1 {
    color: #8bc3ab;
    font-size: 100%;
    font-family: "Courier New", Courier, monospace;
    margin-left: 2cm;
  }

  .img {
    border-radius: 50%;
    width: 70%;
    grid-column: 2;
    grid-row: 1;
    margin-top: 50px;
    margin-left: 30%;
    box-shadow: 9px 9px 1px 1px rgba(12, 31, 12, 0.2), -0.5em 0 0.9em #456256;
  }

  .home-links {
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .home-links li {
    list-style-type: none;
    padding-top: 2rem;
  }

  .home-links li a {
    color: white;
    width: 100%;
    font-size: 2rem;
  }
}
