*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-size: 1rem;
  color: white;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #131a17;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

body {
  transition: background 0.3s linear, color 0.3s linear;
}

header {
  transition: background 0.3s linear, color 0.3s linear;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 40%;
    height: 35%;
    padding: 1rem;
    background-color: #8bc3ab;
    transition: 0.5s;
    opacity: 80%;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
}
.lab .bx {
  color: white;
  font-size: 2.5rem;
}

.nav_item {
  margin-bottom: 2rem;
  list-style-type: none;
}

.nav_link {
  position: relative;
  color: white;
  text-decoration: none;
}
.nav_link:hover {
  position: relative;
  color: #131a17;
}
.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 3rem;
  top: 2rem;
  color: #8bc3ab;
}
.nav_logo img {
  width: 45px;
}
.nav_toggle {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  right: 1rem; /* Adjust the value according to your layout */
}

.show_menu {
  right: 0;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(3rem + 1rem);
  }
  .nav_list {
    display: flex;
    padding-top: 0;
  }
  .nav_item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }
  .nav_link {
    color: white;
  }
  .nav_link:hover {
    color: #8bc3ab;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
